.img-user{
    height: 300px;
    width: 300px;
    padding: 5px;
}
.devicard{
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
     margin: 10px;
     height: 620px;
     width: 340px;
     background-color: aliceblue;
     display:block;
    margin-left:auto;
    margin-right:auto;
     
}
.name{
    width: 100%;
    height: 500px;
    color: white;
}
.cantainer{
    background-color:rgb(231, 215, 212);
}
.img-devi{
    height: 550px;
    width: 100%;

}
.img-card{
    height: 350px;
    width: 350px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    transition: 0.85;
}
.img-card:hover{
    height: 350px;
    width: 350px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    transform: rotate3d(180);

}
.devi-name{
    background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

font-size: 60px;

}
.days{
    padding: 5px;
    background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}