.img-user{
    height: 300px;
    width: 300px;
}
.devicard{
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
     margin: 30px;
     padding: 10px;
     height: 650px;
     width: 600px;
     justify-content: space-between;
     
}
.name{
    background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}