body{
    background-image:url("./../assets/images/bgdurga.jpg");
    background-size:cover;
}
.audio{
    margin-left:550px;
  padding:20px
}
.imgdurga{
    margin-top:20px;
    height:300px;
    width:350px;
    box-shadow:0px 0px 25px white;
    border-radius:20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    transition: 0.85;
    padding: 7px;
    
}
.imgdurga:hover{
    margin-top:20px;
    height:310px;
    width:360px;
    border-radius:15px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    transform: 0.80;
}
.gif{
    height:300px;
    width:400px;
    display:block;
    margin-left:auto;
    margin-right:auto;  
    border-radius: 10%;
    box-shadow:0px 0px 5px black;
    padding:5px 
}
.shlok{
    font-size:35px;
    color:red;
    display:flex;
    justify-content:center;
}
.para{
    font-size:20px;
    margin-left: 10px;
}