.temple-name{
    height: 400px;
    background-image:url("./../Temple/tem-img/back-img.webp");
    background-size: cover;
    color: white;
    padding: 20px;
}

.celebration{
    font-size: 20px;
    
}
.tem-img{
    height: 250px;
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 0px 10px black;
  transition: 0.85;
  cursor: pointer;
  
}
.tem-img:hover{
    height: 250px;
    width: 410px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 6px;
  box-shadow: 0px 0px 10px black;
  transform: 0.80;
}
.side-img{
    width: 900px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;

}
.side-name{
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);


}
    